nav {
    background-image: linear-gradient(#040404 80%, #130111 5%, #00000000);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    font-family: 'Aldrich';
    font-variant-caps: all-petite-caps;
    font-size: x-large;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    transition-duration: 0.3s;
}

nav li {
    list-style: none;
}

@media only screen and (min-width: 700px) {
    nav {
        display: flex;
        justify-content: center;
        height: 75px;
    }

    nav #menuIcon {
        display: none;
    }

    nav a:hover {
        font-size: xx-large;
        text-shadow: 0px 0px 40px #026fffaa;
        background: url('img/nav.png');
        background-size: 30px;
        background-position: center;
        background-repeat: no-repeat;
    }

    nav ul {
        width: 600px;
        padding: 0px;
        display: flex;
        justify-content: space-evenly;
    }

    nav ul li ul {
        background-image: linear-gradient(#00000000, #040404 35%);
        display: none;
    }

    nav ul li:hover ul {
        padding-left: 15px;
        position: absolute;
        display: block;
    }
}

@media only screen and (max-width: 700px) {
    nav {
        padding-right: 15px;
        position: fixed;
    }
    
    nav ul {
        display: none;
        text-align: right;
    }

    nav ul li ul {
        padding-right: 25px;
        font-size: large;
    }

    nav #menuIcon img {
        height: 20px;
    }

    nav #menuIcon {
        float: right;
    }
}